{% load static %}
    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
                        <img src="{% static '/images/services.jpg' %}" alt="services">
                    </div>
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">O que é um centro acadêmico?</h4>
                        <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">O Centro Acadêmico é uma entidade que representa todos os estudantes de um curso. Cabe ao CA, entre suas tarefas, realizar as discussões com os estudantes do curso para encontrar soluções nos problemas enfrentados.</p>
                        <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">Além disso o CA pode:</p>

                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                        <div class="about-icon">
                            <img src="{% static 'images/icon-2.png' %}" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Promover eventos</h4>
                            <p class="text">Um dos pontos altos da atuação dos centros acadêmicos é a organização de eventos.
                            Muitas vezes são os CA que assumem a responsabilidade de planejar ações para alguns dias na faculdade com mesas redondas com professores, palestras com profissionais do mercado de trabalho e oficinas com os alunos para pôr em prática o que se estuda teoricamente em sala de aula.</p>
                        </div>
                        
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.4s">
                        <div class="about-icon">
                            <img src="{% static 'images/icon-1.png' %}" alt="Icon">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Ser ponte entre alunos e profissionais</h4>
                            <p class="text">Assim como em qualquer instituição composta por um grupo de pessoas, o centro acadêmico atua em prol das demandas e causas dos alunos. </p>
                            <p class="text">O ambiente universitário deve ser o mais democrático possível e o CA deve se esforçar para garantir isso ao corpo discente.</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>